---
import Twitter from "./icons/Twitter.astro";
import Instragam from "./icons/Instragam.astro";
import Facebook from "./icons/Facebook.astro";
import Chrome from "./icons/Chrome.astro";
---
<div class="w-full h-96 bg-black/80 flex flex-row justify-center items-center">
    <div class="flex flex-col ml-10 space-y-3">
        <h2 class="text-white font-bold">LITHO</h2>
        <div class="text-slate-500 text-sm text-wrap">
        <p >We create digital experiences </p>
        <p>for brands and companies</p> 
        <p>by using technology.</p>
        </div>
        <div class="flex flex-row text-white space-x-2">
        <Twitter class="size-4"/>
        <Instragam class="size-4"/>
        <Facebook class="size-4"/>
        <Chrome class="size-4"/>
        </div>
    </div>
    <div class="flex flex-col ml-8 space-y-3">
        <h4 class="text-white">Company</h4>
        <p class="text-slate-500 text-sm">About Us</p>
        <p class="text-slate-500 text-sm">Our Services</p>
        <p class="text-slate-500 text-sm">Job opportunities</p>
        <p class="text-slate-500 text-sm">Contact Us</p>
    </div>
    <div class="flex flex-col ml-8 space-y-3">
        <h4 class="text-white">Company</h4>
        <p class="text-slate-500 text-sm">About Us</p>
        <p class="text-slate-500 text-sm">Our Services</p>
        <p class="text-slate-500 text-sm">Job opportunities</p>
        <p class="text-slate-500 text-sm">Contact Us</p>
    </div>
    <div class="flex flex-col ml-8 space-y-3">
        <h4 class="text-white">Company</h4>
        <p class="text-slate-500 text-sm">About Us</p>
        <p class="text-slate-500 text-sm">Our Services</p>
        <p class="text-slate-500 text-sm">Job opportunities</p>
        <p class="text-slate-500 text-sm">Contact Us</p>
    </div>
</div>